# Directories
_lz5bench/
_codelite/
_visual/
cmake_unofficial/
contrib/
debian/
examples/
versionsTest/
visual/

# Archives
*.zip 

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Visual Studio files
projects/VS2010
