<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>7zFM</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>7z</string>
				<string>7Z</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>p7zip</string>
			<key>CFBundleTypeName</key>
			<string>7-Zip</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bz2</string>
				<string>BZ2</string>
				<string>bzip2</string>
				<string>BZIP2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>/System/Library/CoreServices/Archive Utility.app/Contents/Resources/bah-bz2.icns</string>
			<key>CFBundleTypeName</key>
			<string>BZip2</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tbz2</string>
				<string>TBZ2</string>
				<string>tbzip2</string>
				<string>TBZIP2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>/System/Library/CoreServices/Archive Utility.app/Contents/Resources/bah-tbz2.icns</string>
			<key>CFBundleTypeName</key>
			<string>TBZip2</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bz</string>
				<string>BZ</string>
				<string>bzip</string>
				<string>BZIP</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>/System/Library/CoreServices/Archive Utility.app/Contents/Resources/bah-bz.icns</string>
			<key>CFBundleTypeName</key>
			<string>BZip</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tbz</string>
				<string>TBZ</string>
				<string>tbzip</string>
				<string>TBZIP</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>/System/Library/CoreServices/Archive Utility.app/Contents/Resources/bah-tbz.icns</string>
			<key>CFBundleTypeName</key>
			<string>TBzip</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gz</string>
				<string>GZ</string>
				<string>gzip</string>
				<string>GZIP</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>/System/Library/CoreServices/Archive Utility.app/Contents/Resources/bah-gz.icns</string>
			<key>CFBundleTypeName</key>
			<string>GZip</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tgz</string>
				<string>TGZ</string>
				<string>tgzip</string>
				<string>TGZIP</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>/System/Library/CoreServices/Archive Utility.app/Contents/Resources/bah-tgz.icns</string>
			<key>CFBundleTypeName</key>
			<string>TGZip</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tar</string>
				<string>TAR</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>/System/Library/CoreServices/Archive Utility.app/Contents/Resources/bah-tar.icns</string>
			<key>CFBundleTypeName</key>
			<string>Tar</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cpio</string>
				<string>CPIO</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>/System/Library/CoreServices/Archive Utility.app/Contents/Resources/bah-cpio.icns</string>
			<key>CFBundleTypeName</key>
			<string>CPIO</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cpgz</string>
				<string>CPGZ</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>/System/Library/CoreServices/Archive Utility.app/Contents/Resources/bah-cpgz.icns</string>
			<key>CFBundleTypeName</key>
			<string>CPGZ</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lzma</string>
				<string>LZMA</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>p7zip</string>
			<key>CFBundleTypeName</key>
			<string>Lzma</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pax</string>
				<string>PAX</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>/System/Library/CoreServices/Archive Utility.app/Contents/Resources/bah-pax.icns</string>
			<key>CFBundleTypeName</key>
			<string>Pax</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>001</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>p7zip</string>
			<key>CFBundleTypeName</key>
			<string>Volume</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>iso</string>
				<string>ISO</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>/System/Library/CoreServices/DiskImageMounter.app/Contents/Resources/diskcopy-doc.icns</string>
			<key>CFBundleTypeName</key>
			<string>ISO</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>exe</string>
				<string>EXE</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/ExecutableBinaryIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Windows Exe</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cab</string>
				<string>CAB</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/ExecutableBinaryIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>CAB</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zip</string>
				<string>ZIP</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>/System/Library/CoreServices/Archive Utility.app/Contents/Resources/bah-zip.icns</string>
			<key>CFBundleTypeName</key>
			<string>Zip</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rar</string>
				<string>RAR</string>
				<string>.r00</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>p7zip</string>
			<key>CFBundleTypeName</key>
			<string>Rar</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ace</string>
				<string>ACE</string>
				<string>.c00</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>p7zip</string>
			<key>CFBundleTypeName</key>
			<string>Ace</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>7zFM</string>
	<key>CFBundleIconFile</key>
	<string>p7zip</string>
	<key>CFBundleIdentifier</key>
	<string>p7zip.7zFM</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>7zFM</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.3.2</string>
	<key>CFBundleSignature</key>
	<string>aONe</string>
	<key>CFBundleVersion</key>
	<string>57</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2009-2010 aONe</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUFeedURL</key>
	<string>http://p7zip.sourceforge.net</string>
</dict>
</plist>
